*.class
.classpath
.project
.settings/
/ide-bin
/target
/bin
/sandbox
.DS_Store
jitwatch.log
TEST-com.chrisnewland.jitwatch.test.*.txt
JVMS.css
JVMS.html
jitwatch.out
jitwatch.properties
.idea
jitwatch.i*
build/
.gradle
hotspot_pid*
