.mnemonic-underline {
  -fx-stroke: -fx-text-base-color;
}

.eliminated-allocation .text {
  -fx-strikethrough: true;
}

.tooltip .text {
  -fx-strikethrough: false;
  -fx-font-family: monospace;
  -fx-font-size: 12px;
}

Button {
  -fx-font: 12 Arial;
  -fx-base: #eeeeff;
  -fx-padding: 3 9 4 9;
}

.chart-title {
  -fx-text-fill: blue;
  -fx-font-size: 16px;
}